.login-header {
    margin: 0.5em auto;
}

.login-wrapper {
    width: 350px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    box-shadow: 10px 0 20px -5px black;
    color: white;
}

input {
    display: block;
    padding: 0.7em;
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid white;
    outline: none;
    box-sizing: border-box;
}

input:hover {
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
    transition: 0.3s ease-out;
}

input:focus {
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
    transition: 0.3s ease-out;

}

.login-wrapper button {
    width: 100%;
    margin: 1em 0;
}

.inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
}

.success-messages {
    background-color: rgb(115, 222, 87);
    border: 2px solid var(--lime);
    padding: 1em;
    list-style: none;
    box-sizing: border-box;
    border-radius: 5px;
}
