::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: var(--graphite);
    width: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 0.2em;
    cursor: grab;
    transition: 0.3s ease-out;
}

::-webkit-scrollbar:hover {
    width: 0.5em;
}

::-webkit-scrollbar-button {
    display: none;
}