{% extends 'ecommerce/base.html' %}

{% block page-content %}
    {% if messages %}
        <div class="success-messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <h1>Order Details</h1>

    <div class="order-details">
        <h2>Item: <a href="{{ order.item.get_absolute_url }}">{{ order.item }}</a></h2>
        <p>Price: {{ order.price }}$</p>

        {% if not order.is_paid %}
            <div style="margin-top: 5em;" class="inputs-wrapper">
                <a class="btn btn-red text-center"
                   href="{% url 'ecommerce:order_delete' order.pk %}">Delete</a>
                <a href="{{ order.cart.get_absolute_url }}" class="btn text-center">Proceed to cart</a>

            </div>
        {% endif %}
    </div>

{% endblock %}