@import url('./components/login.css');
@import url('./components/navbar.css');
@import url('./components/card.css');
@import url('./components/grid.css');

:root {
    --blue: #3f5efa;
    --dark-blue: #1953ff;
    --lime: #6aff0e;
    --graphite: #242121;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Consolas, Arial, sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn {
    padding: 0.7em;
    box-sizing: border-box;
    box-shadow: 0 0 20px -5px black;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    transition: 0.3s ease-out;
    background-color: var(--graphite);
    color: var(--lime);
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
}

.page-wrapper {
    margin: 5em 25px;
}

.background {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.item-main-image {
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    max-height: 450px;
    padding: 25px;
    box-sizing: border-box;
    display: inline-block;
}


.error-messages {
    color: red;
    max-height: 100px;
    overflow-y: scroll;
    background: white;
    border: 2px solid var(--graphite);
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
}

.error-messages ul {
    list-style: none;
    border-bottom: 1px solid var(--graphite);
}


.item-page-wrapper {
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: [row-first] auto [row-b-last] 1fr [row-last];
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item-page-wrapper > title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: 2;
}

.item-page-wrapper > img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row2-start;
    grid-row-end: 2;
}

.item-page-wrapper > section {
    border-left: 2px solid var(--graphite);
    padding-left: 1em;
    box-sizing: border-box;
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: 2;
}

.item-page-wrapper > form {
    grid-column-start: 11;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 4
}

.item-page-wrapper > .tags {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
