@import url('components/login.css');
@import url('./components/navbar.css');

:root {
    --blue: #3f5efa;
    --lime: #6aff0e;
    --graphite: #242121;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Consolas, Arial, sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    transition: 0.3s ease-out;
}

.btn {
    padding: 0.7em;
    box-sizing: border-box;
    box-shadow: 0 0 20px -5px black;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    transition: 0.3s ease-out;
    background-color: var(--graphite);
    color: var(--lime);
    border: 1px solid var(--lime);
    box-shadow: 0 0 20px -5px var(--lime);
}

.page-wrapper {
    margin: 5em 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    width: 100%;
}

.grid-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px -5px black;
    padding: 25px;
    box-sizing: border-box;
}

.grid-card header {
    text-align: center;
}

.card-image {
    height: 250px;
}

.tags {
    display: flex;
}

.tag {
    background: var(--blue);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 25px;
    color: white;
}

.tag:not(:first-child) {
    margin: 0 5px;
}

.item-main-image {
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    max-height: 450px;
    padding: 25px;
    box-sizing: border-box;
}

.background {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.error-messages {
    color: red;
    max-height: 100px;
    overflow-y: scroll;
    background: white;
    border: 2px solid var(--graphite);
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
}

.error-messages ul {
    list-style: none;
    border-bottom: 1px solid var(--graphite);
}