{% extends 'base.html' %}

{% block navigation %}
    <nav class="navbar">
        <h2 class="nav-current-page">
            {% block current_page %}

            {% endblock %}
        </h2>
        <ul class="nav-links">
            <li>
                <a href="{% url 'ecommerce:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'ecommerce:store' %}">Store</a>
            </li>
            <li>
                <a href=".">Profile</a>
            </li>
            <li>
                <a href="{% url 'user:logout' %}" class="logout-link">Log out</a>
            </li>
        </ul>


    </nav>
    <div style="flex-direction: row-reverse; justify-content: right; margin-right: 1em; margin-top: 1em; display: flex">
        <a href="{% url 'ecommerce:cart' user.cart_set.last.id %}" class="btn" ><span class="material-icons">
shopping_cart
</span></a>

        <h2 style="margin: auto 0.5em auto 0; display: inline-block;">Balance: {{ user.balance }} $</h2>
    </div>

{% endblock %}

{% block content %}
    <div class="page-wrapper">
        {% block page-content %}

        {% endblock %}
    </div>
{% endblock %}
