{% extends 'base.html' %}

{% block navigation %}
    <nav class="navbar">
        <h2 class="nav-current-page">
            {% block current_page %}

            {% endblock %}
        </h2>
        <ul class="nav-links">
            <li>
                <a href="{% url 'ecommerce:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'ecommerce:store' %}">Store</a>
            </li>
            <li>
                <a href="{% url 'ecommerce:cart' user.cart_set.last.id %}">Cart</a>
            </li>
            <li>
                <a href=".">Profile</a>
            </li>
            <li>
                <a href="{% url 'user:logout' %}">Log out</a>
            </li>
        </ul>


    </nav>
    <h2 style="text-align: right; margin-right: 1em; margin-top: 0.5em;">Balance: {{ user.balance }} $</h2>
{% endblock %}