{% extends 'ecommerce/base.html' %}

{% block current_page %}
    Home
{% endblock %}

{% block page-content %}

    <div class="card m">
        <header>
            <h3>My orders</h3>

        </header>
        <section>
            {% if not orders %}
                <p>You have no orders yet</p>
            {% endif %}
            <ol>
                {% for order in orders %}
                    <li>
                        <a href="{% url 'ecommerce:order' order.id %}">
                            {{ order.item }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </section>

    </div>

{% endblock %}