{% extends 'ecommerce/base.html' %}

{% block current_page %}
    Inbox
{% endblock %}

{% block page-content %}
    <table class="table" style="
    color:white;
    background-color: darkgray;
    padding: 25px;
    width: 100%;
    border: 2px solid var(--graphite);
">
        <tbody>
        {% if not orders %}
            <tr>
                <td style="text-align: center">
                    <h3>No new messages</h3>
                </td>
            </tr>
        {% endif %}
        {% for order in orders %}
            <tr>
                <td>
                    {{ order.item }}
                </td>
                <td>
                    {{ order.user }}
                </td>
                <td>
                    <span class="order-status {{ order.status|lower }}">{{ order.status }}</span>
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input name="order_id" value="{{ order.pk }}" type="hidden"/>
                        <button type="submit" class="btn btn-white">Ship Order</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}