{% extends 'ecommerce/base.html' %}

{% block page-content %}

    <header>
        <h2>{{ item.name }}</h2>
        <img src="{{ item.itemimage_set.first.image.url }}" alt="item_main_image" class="item-main-image"/>
    </header>

    {% if item.info %}
        <div>
            <p><strong>{{ item.info.title }}</strong></p>
            <p>{{ item.info.description }}</p>
        </div>
    {% endif %}

    <br/>
    <form method="post">
        {% csrf_token %}
        <button class="btn" type="submit">Order</button>
    </form>

{% endblock %}