{% extends 'ecommerce/base.html' %}

{% block current_page %}
    Store
{% endblock %}

{% block content %}

    <div class="grid">
        {% for item in items %}
            <div class="grid-card">
                <header>
                    <img src="{{ item.itemimage_set.first.image.url }}" alt="item-image" class="card-image"/>
                </header>
                <div class="tags">
                    {% for tag in item.tag.all %}
                        <span class="tag">
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
                <section>
                    <br />
                    <p><strong>{{ item }}</strong> &mdash; {{ item.price }} $ </p>
                    <br/>
                    <a href="{% url 'ecommerce:item' %}?item_id={{ item.id }}" class="btn">Details</a>
                </section>

            </div>

        {% endfor %}
    </div>

{% endblock %}