{% extends 'ecommerce/base.html' %}

{% block current_page %}
    Store
{% endblock %}

{% block page-content %}

    <div class="grid">
        {% for item in items %}
            <div class="grid-card">
                <header>
                    <img src="{{ item.itemimage_set.first.image.url }}" alt="item-image" class="grid-card-image"/>
                </header>
                <div class="tags">
                    {% for tag in item.tag.all %}
                        <span class="tag">
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
                <section>
                    <br/>
                    <p><strong>{{ item }}</strong> &mdash; {{ item.price }}$ </p>
                    <br/>
                    <a href="{% url 'ecommerce:item' item.pk %}" class="btn">Details</a>
                </section>

            </div>

        {% endfor %}
    </div>

    <div class="paginator-wrapper">
        {% if page_obj.has_previous %}
            <a href="?page=1
            {% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">First</a>
            <a href="?page={{ page_obj.previous_page_number }}
            {% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="disabled">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}
            {% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}
            {% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}
            {% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">Last</a>
        {% endif %}
    </div>

{% endblock %}