{% extends 'user/base.html' %}

{% block content %}
    <div class="background"></div>
    <div class="login-wrapper">

        <h1 class="login-header">Login</h1>
        {% if messages %}
            <ul class="success-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post" action="http://localhost:8000/authenticate/">
            {% csrf_token %}
            <label for="id-username">Username</label>
            <input
                    id="id-username"
                    name="username"
                    type="text"
                    placeholder="username"
            />
            <label for="id-password">Password</label>
            <input id="id-password"
                   name="password"
                   type="password"
                   placeholder="Password"
            />

            {% if login_form.errors %}
                <div class="error-messages">
                    {{ login_form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn">Login</button>
        </form>
        <p>
            Need account?
            <a href="{% url 'user:register' %}">Register</a>
        </p>
    </div>
{% endblock %}